<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
        <app-loader></app-loader>
    </div>
</div>
