<!-- <h4><b>Tue 30 June 2020</b></h4> -->
<div class="row" *ngFor="let post of posts">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="card ">
      <div class="card-header ">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 pr-0">
            <img class="post-user" src="../../../../assets/img/annonymous.jpg" alt="annonymous" />
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 text-left pl-0">
            <h5>{{post.createdBy ? post.createdBy: 'Annonymous'}}</h5>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 text-right">
            {{post.createdAt | date:'medium'}}
          </div>
        </div>
      </div>
      <div class="card-body ">
        {{post.content}}
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats text-center" *ngIf="isAdminUser">
          <button class="btn btn-success btn-admin mr-2" (click)="reviewPost(post.id, 2)"><i class="fa fa-thumbs-up"></i> Approve</button>
          <button class="btn btn-danger btn-admin ml-2" (click)="reviewPost(post.id, 3)"><i class="fa fa-thumbs-down"></i>Decline</button>
        </div>
        <div class="stats"  *ngIf="!isAdminUser">
          <button class="btn post"><i class="fa fa-thumbs-up"></i> {{post.totalLikes}}</button>
          <button class="btn post ml-1" (click)="post.commentVisibility = !post.commentVisibility"><i class="fa fa-comments-o"></i> Comments({{(post && childThreads) ? post.post.childThreads.length: 0}})</button>
        </div>
        <div class="posts" [style.display]="post.commentVisibility ? 'block' : 'none' " *ngIf="!isAdminUser">
          <div class="comments">
            <div class="row" class="show-comments" *ngFor="let comment of post.childThreads" #commentBox>
              <span class="commenter-pic"><img src="../../../../assets/img/annonymous.jpg" class="user-img" alt="user"></span>
              <label class="commenter-name">{{comment.createdBy ? comment.createdBy: 'Annonymous'}}</label>
              <div class="comment-text">{{comment.content}}</div>
            </div>
            <div class="row">
              <div class="col-sm-12 input-group postText">
                <span class="input-group-addon post-input"><img src="../../../../assets/img/annonymous.jpg"
                    class="user-img" alt="user"></span>
                <input type="text" class="form-control post-input input-style" #commentText
                  (keyup.enter)="comment(commentText, post )" placeholder="Write a comment"
                  aria-describedby="basic-addon1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

