
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="javascript:void(0)"  class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="https://intimetec.com/wp-content/themes/intimetec/images/ITTLogo.svg" alt="InTimeTec">
      </div>
    </a>
  </div>
    <ul class="nav">
      <li class="text-center">
        <button class="btn btn-warning" style="font-size: 16px;" (click)="createNewPost()">+ New Post</button>
      </li>
      <li style="margin-left: 1rem; margin-top: 1rem;">
        <p>
          <b>Catagories</b>
        </p>        
      </li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
           <a [routerLink]="[menuItem.path]">
                <!-- <i class="nc-icon {{menuItem.icon}}"></i> -->
                <p><b>{{menuItem.title}}</b></p>
            </a>
        </li>
    </ul>
</div>
