<div class="row">
  <div class="offset-md-1 offset-sm-1 col-xs-7 col-sm-7 col-md-7">
   <app-post></app-post>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4" *ngIf="!isAdminUser">
  <app-featured-post></app-featured-post>
  </div>
</div>
<app-add-post></app-add-post>
<app-login></app-login>