::-webkit-input-placeholder {
  color: #58595B;
  font-size: 18px;
}

::-moz-placeholder {
  color: #58595B;
  font-size: 18px;
}

:-ms-input-placeholder {
  color: #58595B;
  font-size: 18px;
}

::placeholder {
  color: #58595B;
  font-size: 18px;
}

textarea.form-control {
  background-color: #EDF1F1;
  padding-left: 10px;
  padding-top: 0px;
}


ul.list {
    padding: 0;
    margin: 0;
  }
  
  .list li {
    list-style: none;
    display: block;
    width: 100%;
  }