<div bsModal #popupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5><i class="fa fa-tag" aria-hidden="true"></i> New Post</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12">
            <textarea class="form-control" #inputText autofocus placeholder="Share your thoughts..."></textarea>
          </div>
        </div>
        <!-- <app-file-uploader #imageUploadModal (imageUrl)="ImageUrl($event)"></app-file-uploader> -->
       
          <ul class="mt-2 list">
            <li>
              <label>
                <input type="radio" value="withlogin" name="post" [(ngModel)]="postType">
                <span>&nbsp; Post using profile</span>
              </label>
            </li>
            <li>
              <label>
                <input type="radio" value="annonymous" name="post" [(ngModel)]="postType">
                <span>&nbsp; Post annonymously</span>
              </label>
            </li>
          </ul>

      </div>

      <div class="modal-footer">
        <div class="pull-right btn-post-cancel">
          <button class="btn btn-warning" (click)="post(inputText)"> Post </button>
        </div>
        <div class="pull-right btn-post-cancel">
          <button class="btn btn-defualt" (click)="hide()"> cancel </button>
        </div>
      </div>
    </div>
  </div>
</div>
