.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 9998;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .loading {
    width: 100%;
    text-align: center;
    z-index: 9999;
    color: white;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -30px;
  }