.logo {
  position: relative;
  padding: 7px 0.7rem;
  z-index: 4;
}

.logo a.logo-mini,
.logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 90%;
  text-align: center;
  margin-left: 10px;
  margin-right: 12px;
}

.logo a.logo-normal,
.logo a.logo-normal {
  display: block;
  color: #66615B;
  opacity: 1;
  padding: 16px 0 8px;
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.logo .simple-text {
  text-transform: uppercase;
  padding: 0.5rem 0;
  display: block;
  white-space: nowrap;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}

.strip {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: ghostwhite;
  opacity: .5;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
