<div class="row sticky-header">
  <div class="col-xs-2 col-sm-2 col-md-2">
    <div class="logo">
      <a href="javascript:void(0)"  class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="https://intimetec.com/wp-content/themes/intimetec/images/ITTLogo.svg" alt="InTimeTec">
        </div>
      </a>
    </div>
  </div>
  <div class="col-xs-10 col-sm-10 col-md-10 strip">
    &nbsp;
  </div>
</div>
