<h4><b>Weekly Featured posts</b></h4>
<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Annonymous</h5>

      </div>
      <div class="card-body ">
        Beginning of a new learning that will change the aspect of how to live a wonderful life, full of enjoyment,
        full with happiness.
        <img style="margin-top: 2px;" src="../../../assets/img/header.jpg" alt="feature-post-img"/>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Md Shahrukh</h5>
      </div>
      <div class="card-body ">
        Beginning of a new learning that will change the aspect of how to live a wonderful life, full of enjoyment,
        full with happiness.
        <img style="margin-top: 2px;"  src="../../../assets/img/header.jpg" alt="feature-post-img"/>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>