<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-sm-9">
            <h4>LET’S CONNECT AND SEE HOW IN TIME TEC can help <span class="orange" style="color: #f26323;">you </span>live your dreams</h4>
            </div>
            </div>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} by <a href="#">The Still Variables</a>
        </div>
    </div>
</footer>
