
<div bsModal #loginDailog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true" backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5><i class="fa fa-user" aria-hidden="true"></i> Login</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-12">
            <form name="form" (ngSubmit)="loginForm.form.valid && onLogin(loginForm.value)" #loginForm="ngForm" novalidate>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="user.username"
                      #username="ngModel" required />
                    <div *ngIf="loginForm.submitted && !username.valid" class="help-block">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password"
                      #password="ngModel" required />
                    <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="onLogin(loginForm.value)"> Login </button>
      </div>
    </div>
  </div>
</div>
